@model IEnumerable<Restaurante.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}
<style>
    body {
        font-family: 'Playfair Display', serif;
        font-style: italic;
    }

    .centered-text {
        text-align: center;
        font-weight: bold;
        color: #333;
    }

    .bold-text {
        font-weight: bold;
    }
</style>

@if (User.Identity!.IsAuthenticated) // sirve para bloquear ver los elementos si no estas registrado
{
    <div>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Producto" asp-action="Index">Productos</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Reserva" asp-action="Index">Reservas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Orden" asp-action="Index">Ordenes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Cliente" asp-action="Index">Clientes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Listas" asp-action="Listas">Listados</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Mesa" asp-action="Index">Mesas</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Salir">Salir</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>
    <br />
    <h3 class="bold-text">~ Clientes ~</h3>
    <hr />
    <br />
    <div button-container>
        <a class="custom-btn " href="@Url.Action("Create", "Cliente")">Ingresar nuevo Cliente</a>
    </div>
    <br />
    <div>
        <br />
        <h5>Buscar por documento</h5>
        <form method="get" action="@Url.Action("Search", "Cliente")" class="form-inline">
            <div class="form-group">
                <label for="clienteId">Documento Cliente: </label>
                <input type="text" name="clienteId" class="form-control" />
            </div>
            <br />
            <button type="submit" class="custom-btn">Buscar</button>
        </form>
    </div>
    <br />
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Documento</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Tipo de cliente</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cliente in Model)
                {
                    <tr>
                        <td>@cliente.Ci</td>
                        <td>@cliente.Nombre</td>
                        <td>@cliente.Email</td>
                        <td>@cliente.TipoCliente</td>                        
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No hay clientes registrados con ese documento</p>
    }
}



