@model Restaurante.Models.Permiso

@{
    ViewData["Title"] = "Detalle de permiso";
}

<style>
    body {
        font-family: 'Playfair Display', serif;
        font-style: italic;
    }

    .centered-text {
        text-align: center;
        font-weight: bold;
        color: #333;
    }

    .bold-text {
        font-weight: bold;
    }

    .date-input {
        width: 150px;
        display: inline-block;
    }
</style>
@if (User.Identity!.IsAuthenticated) // sirve para bloquear ver los elementos si no estas registrado
{
<br />
<h3 class="bold-text">~ Detalles ~</h3>
<hr />
<br />
<div>
    <h4>Permiso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Roles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Roles)
        </dd>
    </dl>
</div>
    <br />
    <div>
        <a class="custom-btn" href="@Url.Action("Index", "Permiso")">Volver</a>
    </div>

}