@model IEnumerable<Restaurante.Models.Permiso>

@{
    ViewData["Title"] = "Permisos";
}

<style>
    body {
        font-family: 'Playfair Display', serif;
        font-style: italic;
    }

    .centered-text {
        text-align: center;
        font-weight: bold;
        color: #333;
    }

    .bold-text {
        font-weight: bold;
    }

    .date-input {
        width: 150px;
        display: inline-block;
    }
</style>
@if (User.Identity!.IsAuthenticated) // sirve para bloquear ver los elementos si no estas registrado
{
<br />
<h3 class="bold-text">~ Permisos ~</h3>
<hr />
<br />
<div class="text-center">
    <a href="@Url.Action("Create", "Permiso")" class="custom-btn">Crear permiso</a>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roles)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Numero">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Numero">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Numero">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

    <br />
    <hr />
    <div>
        <a class="custom-btn" href="@Url.Action("Listas", "Listas")">Volver</a>
    </div>
}