@model Orden

@{
    ViewData["Title"] = "Details";
}
<hr />
<h3>Info Orden</h3>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            Fecha
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdReservaNavigation.Fecha)
        </dd>
        <dt class="col-sm-2">
            Cliente
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdReservaNavigation.CiCliente)
        </dd>
        <dt class="col-sm-2">
            Numero Reserva
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdReservaNavigation.Id)
        </dd>
        <dt class="col-sm-2">
            Total orden
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
</div>
<hr />
<div>
    <a class="btn btn-primary" href="@Url.Action("Create", "OrdenDetalle")">Agregar productos</a>
</div>

