@model IEnumerable<Restaurante.Models.Orden>

@{
    ViewData["Title"] = "Index";
}

<hr />
<h3>Ordenes</h3>
<hr />
<div>
    <h3>Órdenes del día</h3>
    <span>@DateTime.Now.ToString("dd/MM/yyyy")</span>
</div>
<br />
@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Id Mesa</th>
                <th>Ci Cliente</th>
                <th>Estado</th>
                <th>Total</th>
                <th>Cerrar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item != null && item.IdReservaNavigation != null && item.IdReservaNavigation.Fecha == DateOnly.FromDateTime(DateTime.Today))
                {
                    <tr>
                        @if(item.IdReservaNavigation.IdMesa != null)
                        {
                            <td>@Html.DisplayFor(modelItem => item.IdReservaNavigation.IdMesa)</td>
                        }
                        else
                        {
                            <td> - </td>
                        }
                        @if (item.IdReservaNavigation.CiCliente != null)
                        {
                            <td>@Html.DisplayFor(modelItem => item.IdReservaNavigation.CiCliente)</td>
                        }
                        else
                        {
                            <td>No CI</td>
                        }
                        <td>@Html.DisplayFor(modelItem => item.Estado)</td>                        
                        <td>@Html.DisplayFor(modelItem => item.Total)</td>
                        <td>
                            <a class="btn btn-primary" asp-controller="Pago" asp-action="Index">Cerrar</a>
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
else
{
    <p>No hay datos disponibles.</p>
}
<div>
    <a class="btn btn-primary" href="@Url.Action("Index", "Producto")">Volver</a>
</div>


