@using System.Security.Claims
@model IEnumerable<Restaurante.Models.Orden>

@{
    ViewData["Title"] = "Lista de ordenes";
}
<style>
    body {
        font-family: 'Playfair Display', serif;
        font-style: italic;
    }

    .centered-text {
        text-align: center;
        font-weight: bold;
        color: #333;
    }

    .bold-text {
        font-weight: bold;
    }

    .date-input {
        width: 150px;
        display: inline-block;
    }
</style>
@if (User.Identity!.IsAuthenticated) // sirve para bloquear ver los elementos si no estas registrado
{
<style>
    body {
        font-family: 'Playfair Display', serif;
        font-style: italic;
    }

    .centered-text {
        text-align: center;
        font-weight: bold;
        color: #333;
    }

    .bold-text {
        font-weight: bold;
    }
</style>
<br />
<h3 class="bold-text">Lista de órdenes</h3>
<br />
@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Id Reserva</th>
                <th>Id Mesa</th>
                <th>Total</th>
                <th>Estado</th> 
                <th>Usuario</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdReservaNavigation.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdReservaNavigation.IdMesa)</td>
                    <td>@Html.DisplayFor(modelItem => item.Total)</td>
                    <td>@Html.DisplayFor(modelItem => item.Estado)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Id)</td>
                                     
                </tr>
            }
        </tbody>
    </table>
}
<div>
    <a class="custom-btn" href="@Url.Action("Listas", "Listas")">Volver</a>
</div>
}