<<<<<<< HEAD
﻿@* Home Index *@
@{
    ViewData["Title"] = "Home Page";
    var clima = ViewBag.Clima as Clima;
    var error = ViewBag.Error as string;
}
<style>
    body {
        font-family: 'Playfair Display', serif;
        font-style: italic;
    }

    .bold-text {
        font-weight: bold;
        color: #333;
    }    
</style>
=======
﻿@{
    ViewData["Title"] = "Home Page";
}
>>>>>>> cc0ce3aea1527563f64bae33cea5b5c05b7261a2

<div class="image-container">
    <img src="~/Img/logo2.png" alt="Logo" />
</div>
<<<<<<< HEAD

<div class="button-container text-center">
    <a href="@Url.Action("Index", "Producto")" class="custom-btn">Menú</a>
    <a href="@Url.Action("Index", "Reseña")" class="custom-btn">Reseñas</a>

</div

<br />

@if (!string.IsNullOrEmpty(error))
{
    <div class="alert alert-danger">@error</div>
}
else if (clima != null)
{
    <div style="display: flex; align-items: center";>
        <label style="margin-right: 10px;" class="bold-text">Temperatura: </label>
        <p class="bold-text" style="margin-right: 20px; margin-bottom: 0;"> @clima.Temperatura °C</p>
        <label style="margin-right: 10px;" class="bold-text"> - Descripción: </label>
        <p class="bold-text" style="margin-right: 20px; margin-bottom: 0;">@clima.Descripcion</p>
    </div>    
}
else
{
    <p>No se pudo obtener la información del clima.</p>
}
=======
<div class="button-container text-center">
    <a href="@Url.Action("Index", "Producto")" class="custom-btn">Ver menú</a>
    <a href="@Url.Action("Index", "Reseña")" class="custom-btn">Reseñas</a>
</div>
>>>>>>> cc0ce3aea1527563f64bae33cea5b5c05b7261a2

@if (!User.Identity!.IsAuthenticated) // sirve para bloquear ver los elementos si no estas registrado
{
<footer>
    <div class="small-image-container">
        <a href="@Url.Action("Login", "Acceso")">
            <img src="~/img/monstera.png" alt="Link usuarios" />
        </a>
    </div>
</footer>
}

