@using System.Security.Claims
@model IEnumerable<Restaurante.Models.Reseña>

@{
    ViewData["Title"] = "Reseñas";
}
<br />
<div class="text-center">
    <a href="@Url.Action("LoginCliente", "Reseña")" class="custom-btn">
        Crear nueva reseña
    </a>
</div>

<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puntaje)
            </th>
            <th>
               Nombre
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puntaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CiClienteNavigation.Nombre)
            </td>
            
     
        </tr>
}
    </tbody>
</table>
<br />
<div>
    <a class="custom-btn" href="@Url.Action("Index", "Home")">Volver</a>
</div>
